html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app {
  background: #141A28;
  color: #DDDEE7;
  display: flex;
}
.content {
  flex: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
} 

::-webkit-scrollbar-thumb:hover {
  background: #555;
}



