html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
}
.top-bar {
  box-sizing: border-box;
  height: 60px;
  display: flex;
  justify-content: space-between;
  gap: 10vw;
  align-items: center;
  padding: 8px 20px 5px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  overflow: hidden;
  .top_right{
    flex: 1;
    display: flex;
    justify-content: space-between;
  }

}
.global_search {
  .search_input {
    display: flex;
    gap: 3px;
  }
}
.content {
  display: flex;
}


/* page-bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
} 

::-webkit-scrollbar-thumb:hover {
  background: #555;
}



